torch==1.6.0
tqdm==4.48.2
psutil==5.7.2
matplotlib==3.3.0
tensorboard==2.3.0
future==0.18.2
filelock==3.0.12
setproctitle==1.1.10
wandb==0.10.2
dataclasses==0.6
Pillow==8.1.1
torchvision==0.7.0
gql==0.2.0
